{% extends 'articles/base.html' %} {% load static %} {% load base_tags %} {% block main %}
{% popular_articles %}
{% hot_articles %}
{% big_score_articles %}
{% block header %}{% endblock %}
{% for article in object_list %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ article.thumbnail.url }}" alt="..." />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><a href="{% url 'articles:details' article.slug %}">
                {{ article.title}}</a>
                {% if article.is_special %}
                    <span class="badge bg-danger" style="font-size: 15px;">ویژه</span>
                {% endif %}
                </h1>
                <div><small>بازدید ها: {{ article.hits.count }}</small></div>
                <div class="fs-5 mb-5">
                    <time>{{ article.jpublish }}</time>
                </div>
                <p class="lead">{{ article.description|striptags|truncatewords:30 }}</p>
                {% block category %}{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% if is_paginated %}
<div class="container px-4 px-lg-5 my-5">
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary" href="{% block previous %}{% endblock %}">جدیدتر</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-primary" href="{% block next %}{% endblock %}">قدیمی تر</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}