{% extends 'articles/base.html' %} {% load static %} {% block main %}
<div class="item mb-5">
  <div class="row g-3 g-xl-0">
    {% for article in articles %}
    <div class="col-2 col-xl-3">
      <img
        class="img-fluid post-thumb"
        src="{{ article.thumbnail.url }}"
        alt="image"
      />
    </div>
    <div class="col">
      <h3 class="title mb-1">
        <a class="text-link" href="blog-post.html">{{ article.title }}</a>
      </h3>
      <div class="meta mb-1">
        <span class="date">{{ article.publish }}</span
        ><span class="time">7 min read</span
        ><span class="comment"
          ><a class="text-link" href="#">8 comments</a></span
        >
      </div>
      <div class="intro">{{ article.description| truncatewords:30 }}</div>
      <a class="text-link" href="blog-post.html">Read more &rarr;</a>
    </div>
    <!--//col-->
    {% endfor %}
  </div>
  <!--//row-->
</div>
{% endblock %}
